# Default values for hello-k8s.
replicaCount: 1

image:
  #  砖 !  砖 砖转砖 砖
  repository: nogagol/my-k8s-app
  pullPolicy: Always
  #   专住 砖爪专 -GitHub Actions (砖 v3)
  tag: "v7"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}
autoscaling:
  enabled: false