apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "hello-k8s.fullname" . }}-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: hello.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "hello-k8s.fullname" . }}
                port:
                  number: 80
