name: CI Build and Push

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions: # 转 专砖 驻专砖转 转 
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./hello-k8s/my-web-server
          push: true
          tags: nogagol/my-k8s-app:v${{ github.run_number }}

      #  拽 砖 拽住 转  
      - name: Update values.yaml with new tag
        run: |
          cd hello-k8s
          # 祝 转 专住 拽转 专住 砖 (run_number)
          sed -i 's/tag: .*/tag: "v${{ github.run_number }}"/' values.yaml
          
          # 专 转 转 "砖转砖" 砖注砖 转 砖
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          
          # 砖专 驻
          git add values.yaml
          git commit -m "Auto-update image tag to v${{ github.run_number }}"
          git push